/* Global Classes Start */
label{
    margin-bottom: 0px;
}
.required{
    color: red;
}
textarea{
    width: 100%;
    height: 100%;
}
/* Global Classes End */

/* Vendor form styling start */
#vendors{
    width: 100%;
    margin-bottom: 10px;
}
.vendorInfo{
    border: 1px solid #000;
    padding: 10px;
    height: 150px;
    width: 100%;
    overflow: auto;
}
.vendorInfo p{
    margin-bottom: 0px;
}
/* Vendor form styling end */

/* Shipping styling start */
.shipTo{
    border: 1px solid #000;
    padding: 10px;
    width: 100%;
    height: 185px;
    overflow: auto;
}

.shipTo input{
    border: none;
    outline: none;
    width: 100%;
}
/* Shipping styling end */


/* Items table styling start */
table{
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
}
th{
    text-align: center;
    border: 1px solid #000;
}

tr{
    border: 1px solid #000;
}

tbody{
    border: 1px solid #000;
    border-collapse: separate;
}

td select, td input{
    width: 100%;
    border: none;
    outline: none;
}

td{
    border: 1px solid #000;
}

.readOnly{
    background: #faebd7;
}

/* Items table styling end */

/* Order info styling start */
.order-info{
    height: 100%;
    justify-content: flex-end;
    align-content: space-between;
}
.order-info div{
    text-align: right;
}
/* Mobile styling starts*/
@media only screen and (max-width: 767px) {
    .order-info{
        margin-top: 1em;
        justify-content: initial;
        padding: 0px 15px;
    }
    .order-info div{
        text-align: left;
    }
  }
/* Mobile styling ends*/
/* Order info styling end */

/* Totals section styling start */
.totals-container th{
    text-align: right;
    border: none;
    width: 70px;
}
.totals-container table, .totals-container tr, .totals-container td, .totals-container tbody{
    border: none;
}
.totals-container input.editable, .totals-container select.editable{
    border: 1px solid #000;
    width: 100px;
}
.totals-container input{
    width: 100px;
}
.totals-container .freight-tax{
    height: 28px;
    padding-bottom: 1px;
}
.totals-container td{
    padding-left: 10px;
    width: 270px;
}

/* Totals section styling end */


/* Items table styling start*/
.items-container{
    overflow-x: auto;
}
.items-container table{
    width: 1110px;
}
.items-container .out-of-stock, .items-container .out-of-stock select, .items-container .out-of-stock input{
    background-color: red;
}
/* Items table styling end*/

